In [5]:
import pandas as pd
df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\tooso\AppData\Local\Temp\ipykernel_12368\725011593.py:2: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [6]:
# 1 - The column names have spaces . rename the column names to have underscore '_' instead of space 
# (try to do in one go instead of specifying each column nam in rename method)

In [9]:
df.columns.str.replace(' ','_')

Index(['Product_Name', 'Product_URL', 'Brand', 'Sale_Price', 'Mrp',
       'Number_Of_Ratings', 'Number_Of_Reviews', 'Upc', 'Star_Rating', 'Ram'],
      dtype='object')

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [11]:
# 2- star rating for some of the models is missing in the dataset. 
# fill those missing values with the average rating all the models.

In [12]:
df.dtypes

Product Name          object
Product URL           object
Brand                 object
Sale Price             int64
Mrp                    int64
Number Of Ratings      int64
Number Of Reviews      int64
Upc                   object
Star Rating          float64
Ram                   object
dtype: object

In [19]:
avg_rating=df["Star Rating"].mean(skipna=True)

In [20]:
avg_rating

4.57627118644068

In [21]:
df.fillna(avg_rating,inplace=True)

In [17]:
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB

In [22]:
# 4- create a new column in the dataframe "Discount_Percentage" based on MRP and sale value

In [29]:
df["Discount_Percentage"]=(df["Mrp"]-df["Sale Price"])*100.0/df["Mrp"]

In [26]:
df

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Discount_Percentage
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.600000,2 GB,0.000000
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.600000,2 GB,0.000000
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.600000,2 GB,0.000000
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,4.576271,2 GB,0.000000
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.500000,2 GB,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.500000,4 GB,0.248145
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.600000,4 GB,0.143916
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.600000,4 GB,0.143916
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.600000,4 GB,0.143916
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.600000,4 GB,0.143916

In [30]:

# 5- which model has highest percent discount ?

In [32]:
df["Discount_Percentage"]=(df["Mrp"]-df["Sale Price"])*100.0/df["Mrp"]

In [47]:
df.sort_values(by=["Discount_Percentage","Product Name"],ascending=False).head(1)

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,Discount_Percentage
18,"APPLE iPhone 11 Pro (Midnight Green, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,74999,106600,7088,523,MOBFKCTSN3TG3RFJ,4.6,4 GB,29.644465

In [41]:
# 6- find total no of models  each space configuration (128 GB , 64 GB etc)

# 7- find total number of models for each color

In [68]:
df

                                       product             model_name
0  APPLE iPhone 11 Pro (Midnight Green, 64 GB)  Midnight Green, 64 GB
1    SAMSUNG Galaxy S21 (Phantom Gray, 128 GB)   Phantom Gray, 128 GB

In [48]:
# 6- find total no of models  each space configuration (128 GB , 64 GB etc)

In [55]:
df['Ram'].value_counts().reset_index()

    Ram  count
0  4 GB     29
1  6 GB     19
2  2 GB     13
3  3 GB      1

In [60]:
# Change the column name
df.rename(columns={'Ram':'Models'})

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Models,Discount_Percentage
18,"APPLE iPhone 11 Pro (Midnight Green, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,74999,106600,7088,523,MOBFKCTSN3TG3RFJ,4.6,4 GB,29.644465
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,24.814536
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,24.814536
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,22.051225
54,"APPLE iPhone SE (White, 128 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,34999,44900,95807,8154,MOBFWQ6BJEHMUUZY,4.5,2 GB,22.051225
...,...,...,...,...,...,...,...,...,...,...,...
15,"APPLE iPhone 11 Pro Max (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,1078,101,MOBFKCTSAPAYNSGG,4.7,4 GB,0.000000
16,"APPLE iPhone 11 Pro Max (Midnight Green, 256 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,131900,131900,1078,101,MOBFKCTSCAAKGQV7,4.7,4 GB,0.000000
17,"APPLE iPhone 11 Pro Max (Space Grey, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,1078,101,MOBFKCTSKDMKCGQS,4.7,4 GB,0.000000
20,"APPLE iPhone 11 Pro Max (Midnight Green, 64 GB)",https://www.flipkart.com/apple-iphone-11-pro-m...,Apple,117100,117100,1078,101,MOBFKCTSRYPAQNYT,4.7,4 GB,0.000000
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,0.000000

In [66]:
# find total number of models for each color

In [69]:
import pandas as pd
df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\tooso\AppData\Local\Temp\ipykernel_12368\725011593.py:2: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [77]:
df = pd.DataFrame(df)

# Define a function to extract the color
def extract_color(text):
    color_match = re.search(r'\((.*?),', text)
    if color_match:
        color = color_match.group(1)
        return color.strip()  # Strip any leading or trailing whitespace
    else:
        return None

# Apply the function to the 'Product Name' column
df['Color'] = df['Product Name'].apply(extract_color)
color_count=df['Color'].value_counts().reset_index()
color_count

             Color  count
0            Black     10
1            White     10
2           Silver      7
3             Gold      6
4       Space Grey      6
5              Red      5
6   Midnight Green      4
7     Pacific Blue      4
8         Graphite      4
9             Blue      2
10             RED      1
11           Coral      1
12           Green      1
13          Purple      1

In [78]:
product_name = "APPLE iPhone 11 Pro (Midnight Green, 64 GB)"

In [88]:
parts=product_name.split('(')
parts

['APPLE iPhone 11 Pro ', 'Midnight Green, 64 GB)']

In [107]:
res=parts[1].strip()
res
res.split(',')[0].strip()

'Midnight Green'

In [99]:
res.split(',')

['Midnight Green', ' 64 GB)']

In [110]:
# first extract color
def extract_color(product_name):
    parts=product_name.split('(')
    if len(parts)>1:
      color_part=parts[1].strip()
      if ',' in color_part:
        color=color_part.split(',')[0].strip()
        return color
    return none  
#then count colors 
df['color']=df['Product Name'].apply(extract_color)

In [116]:
color_count=df['color'].value_counts().reset_index()
color_count

             color  count
0            Black     10
1            White     10
2           Silver      7
3             Gold      6
4       Space Grey      6
5              Red      5
6   Midnight Green      4
7     Pacific Blue      4
8         Graphite      4
9             Blue      2
10             RED      1
11           Coral      1
12           Green      1
13          Purple      1

In [118]:
color_count.rename(columns={'color':'Total models'})

      Total models  count
0            Black     10
1            White     10
2           Silver      7
3             Gold      6
4       Space Grey      6
5              Red      5
6   Midnight Green      4
7     Pacific Blue      4
8         Graphite      4
9             Blue      2
10             RED      1
11           Coral      1
12           Green      1
13          Purple      1

In [119]:

# 8- find total number of models by iphone version : eg
# iphone 8:  9
# iphone XR : 5

# so on..

In [120]:
import pandas as pd
df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\tooso\AppData\Local\Temp\ipykernel_12368\725011593.py:2: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB

In [121]:
product_name = "APPLE iPhone 11 Pro (Midnight Green, 64 GB)"

In [126]:
iphone=product_name.split('iPhone')
iphone

['APPLE ', ' 11 Pro (Midnight Green, 64 GB)']

In [128]:
res=iphone[1].strip()
res

'11 Pro (Midnight Green, 64 GB)'

In [130]:
res.split('(')[0].strip()

'11 Pro'

In [143]:
def extract_model(product_name):
    parts = product_name.split('iPhone')
    if len(parts) > 1:
        model_part = parts[1].strip()
        if '(' in model_part:
            model = model_part.split('(')[0].strip()
            return 'iPhone ' + model
        return None
# then count colors
df['model_number'] = df['Product Name'].apply(extract_model)
df['model_number'].value_counts().reset_index()

         model_number  count
0   iPhone 12 Pro Max      8
1           iPhone 12      7
2           iPhone 11      7
3           iPhone SE      6
4      iPhone 12 Mini      6
5       iPhone 8 Plus      5
6           iPhone XR      5
7   iPhone 11 Pro Max      5
8       iPhone 12 Pro      5
9       iPhone 11 Pro      4
10           iPhone 8      3
11      iPhone XS Max      1

In [142]:
print(df)

                                Product Name  \
0          APPLE iPhone 8 Plus (Gold, 64 GB)
1   APPLE iPhone 8 Plus (Space Grey, 256 GB)
2       APPLE iPhone 8 Plus (Silver, 256 GB)
3            APPLE iPhone 8 (Silver, 256 GB)
4              APPLE iPhone 8 (Gold, 256 GB)
..                                       ...
57            APPLE iPhone SE (Black, 64 GB)
58           APPLE iPhone 11 (Purple, 64 GB)
59            APPLE iPhone 11 (White, 64 GB)
60            APPLE iPhone 11 (Black, 64 GB)
61              APPLE iPhone 11 (Red, 64 GB)

                                          Product URL  Brand  Sale Price  \
0   https://www.flipkart.com/apple-iphone-8-plus-g...  Apple       49900
1   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
2   https://www.flipkart.com/apple-iphone-8-plus-s...  Apple       84900
3   https://www.flipkart.com/apple-iphone-8-silver...  Apple       77000
4   https://www.flipkart.com/apple-iphone-8-gold-2...  Apple       77000
..                                                ...    ...         ...
57  https://www.flipkart.com/apple-iphone-se-black...  Apple       29999
58  https://www.flipkart.com/apple-iphone-11-purpl...  Apple       46999
59  https://www.flipkart.com/apple-iphone-11-white...  Apple       46999
60  https://www.flipkart.com/apple-iphone-11-black...  Apple       46999
61  https://www.flipkart.com/apple-iphone-11-red-6...  Apple       46999

      Mrp  Number Of Ratings  Number Of Reviews               Upc  \
0   49900               3431                356  MOBEXRGV7EHHTGUH
1   84900               3431                356  MOBEXRGVAC6TJT4F
2   84900               3431                356  MOBEXRGVGETABXWZ
3   77000              11202                794  MOBEXRGVMZWUHCBA
4   77000              11202                794  MOBEXRGVPK7PFEJZ
..    ...                ...                ...               ...
57  39900              95909               8161  MOBFWQ6BR3MK7AUG
58  54900              43470               3331  MOBFWQ6BTFFJKGKE
59  54900              43470               3331  MOBFWQ6BVWVEH3XE
60  54900              43470               3331  MOBFWQ6BXGJCEYNY
61  54900              43470               3331  MOBFWQ6BYYV3FCU7

    Star Rating   Ram   model_number
0           4.6  2 GB  iphone 8 Plus
1           4.6  2 GB  iphone 8 Plus
2           4.6  2 GB  iphone 8 Plus
3           NaN  2 GB       iphone 8
4           4.5  2 GB       iphone 8
..          ...   ...            ...
57          4.5  4 GB      iphone SE
58          4.6  4 GB      iphone 11
59          4.6  4 GB      iphone 11
60          4.6  4 GB      iphone 11
61          4.6  4 GB      iphone 11

[62 rows x 11 columns]

In [144]:
The top 5 models with the highest number of reviews are:

1. iPhone 15 Pro Max
2. iPhone 15 Pro
3. iPhone 15
4. iPhone 15 Plus
5. iPhone 13 Mini

SyntaxError: invalid syntax (1801182052.py, line 1)

In [145]:
# 9- list top 5 models having highest no of reviews

In [155]:
df.sort_values(by='Number Of Reviews',ascending=False).head(5)
df
# df.rename(columns={'Product Name':'Model'})

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,model_number
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB,iPhone 8 Plus
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB,iPhone 8 Plus
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB,iPhone 8 Plus
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,iPhone 8
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB,iPhone 8
...,...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,iPhone SE
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB,iPhone 11
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB,iPhone 11
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB,iPhone 11
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB,iPhone 11

In [159]:
res=df.sort_values(by='Number Of Reviews',ascending=False).head(5)
res

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,model_number
23,"Apple iPhone SE (White, 256 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB,iPhone SE
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,iPhone SE
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,iPhone SE
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,iPhone SE
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,iPhone SE

In [160]:
res.rename(columns={'Product Name':'Model'})

,Model,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,model_number
23,"Apple iPhone SE (White, 256 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,44999,54900,95909,8161,MOBFRFXHPZCHAPEH,4.5,2 GB,iPhone SE
53,"APPLE iPhone SE (Black, 128 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,34999,44900,95909,8161,MOBFWQ6BHUEVZPXD,4.5,2 GB,iPhone SE
55,"APPLE iPhone SE (Red, 128 GB)",https://www.flipkart.com/apple-iphone-se-red-1...,Apple,34999,44900,95909,8161,MOBFWQ6BJTVFKPEJ,4.5,2 GB,iPhone SE
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB,iPhone SE
52,"APPLE iPhone SE (White, 64 GB)",https://www.flipkart.com/apple-iphone-se-white...,Apple,29999,39900,95807,8154,MOBFWQ6BGWDVGF3E,4.5,2 GB,iPhone SE

In [161]:
# 10 - what is the price diffrence between highest price and lowest price iphone (based on mrp)

In [172]:
h1=df['Mrp'].max()
h2=df['Mrp'].min()
res=h1-h2
res

110000

In [171]:
res

41   NaN
52   NaN
Name: Mrp, dtype: float64

In [204]:
# 11 - find total no of reviews for iphone 11 and iphone 12 category .
# Output should have only 2 rows (for 11 and 12).
# df=df['Product Name'].str.contains('iphone 11',case=False)
# df
import pandas as pd
df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")
df
r11=df[df["Product Name"].str.contains("iphone 11",case=False)]
r12=df[df["Product Name"].str.contains("iphone 12",case=False)]
review_iphone_11=r11['Number Of Reviews'].sum()
review_iphone_12=r12['Number Of Reviews'].sum()

# create a data frame
data = {
    'MODEL': ['iphone_11','iphone_12'], 
    'TOTAL RATINGS': ['review_iphone_11','review_iphone_12'],
    }
pd.DataFrame(data)

<>:6: SyntaxWarning: invalid escape sequence '\P'
<>:6: SyntaxWarning: invalid escape sequence '\P'
C:\Users\tooso\AppData\Local\Temp\ipykernel_12368\2928219674.py:6: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")

       MODEL     TOTAL RATINGS
0  iphone_11  review_iphone_11
1  iphone_12  review_iphone_12

In [224]:
# 12- which iphone has 3rd highest MRP

third_highest=df.sort_values(by='Mrp',ascending=False).reset_index()
third_highest.loc[2]

index                                                               21
Product Name              APPLE iPhone 11 Pro (Midnight Green, 512 GB)
Product URL          https://www.flipkart.com/apple-iphone-11-pro-m...
Brand                                                            Apple
Sale Price                                                      117900
Mrp                                                             140300
Number Of Ratings                                                 7088
Number Of Reviews                                                  523
Upc                                                   MOBFKCTSSJCWYGCC
Star Rating                                                        4.6
Ram                                                               4 GB
Name: 2, dtype: object

In [ ]:
# 13- what is the average mrp of iphones which costs above 100,000

In [228]:
iphone_mrp=df[df['Mrp']>100000]
avg_mrp=iphone_mrp['Mrp'].mean()
avg_mrp

130559.09090909091

In [229]:
# 14- which iphone with 2 GB space has highest ratings to review ratio

In [242]:
df[df['Ram']=='2 GB']
df['ratings to review']=df['Number Of Ratings']/df['Number Of Reviews']
ratio=df.sort_values(by='ratings to review',ascending=False).head(1)
ratio

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram,ratings to review,ratings to review
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB,NaN,14.108312

In [241]:
highest_ratio_iphone

Product Name                                  APPLE iPhone 8 (Silver, 256 GB)
Product URL                 https://www.flipkart.com/apple-iphone-8-silver...
Brand                                                                   Apple
Sale Price                                                              77000
Mrp                                                                     77000
Number Of Ratings                                                       11202
Number Of Reviews                                                         794
Upc                                                          MOBEXRGVMZWUHCBA
Star Rating                                                               NaN
Ram                                                                      2 GB
 ratings to review                                                        NaN
ratings to review                                                   14.108312
Ratings to Reviews Ratio                                            14.108312
Name: 3, dtype: object

In [1]:
# 3- Now instead of filling missing values with avg rating of full dataset , fill with avg rating based on RAM. example :
# if rating for a 2 gb phone is missing then take average of all other 2 gb phones rating and fill that value.

In [3]:
import pandas as pd
df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")
df

<>:2: SyntaxWarning: invalid escape sequence '\P'
<>:2: SyntaxWarning: invalid escape sequence '\P'
C:\Users\tooso\AppData\Local\Temp\ipykernel_17064\725011593.py:2: SyntaxWarning: invalid escape sequence '\P'
  df=pd.read_csv("C:\Program Files\JetBrains\PyCharm 2023.3.4\iphone.csv")

,Product Name,Product URL,Brand,Sale Price,Mrp,Number Of Ratings,Number Of Reviews,Upc,Star Rating,Ram
0,"APPLE iPhone 8 Plus (Gold, 64 GB)",https://www.flipkart.com/apple-iphone-8-plus-g...,Apple,49900,49900,3431,356,MOBEXRGV7EHHTGUH,4.6,2 GB
1,"APPLE iPhone 8 Plus (Space Grey, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVAC6TJT4F,4.6,2 GB
2,"APPLE iPhone 8 Plus (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-plus-s...,Apple,84900,84900,3431,356,MOBEXRGVGETABXWZ,4.6,2 GB
3,"APPLE iPhone 8 (Silver, 256 GB)",https://www.flipkart.com/apple-iphone-8-silver...,Apple,77000,77000,11202,794,MOBEXRGVMZWUHCBA,NaN,2 GB
4,"APPLE iPhone 8 (Gold, 256 GB)",https://www.flipkart.com/apple-iphone-8-gold-2...,Apple,77000,77000,11202,794,MOBEXRGVPK7PFEJZ,4.5,2 GB
...,...,...,...,...,...,...,...,...,...,...
57,"APPLE iPhone SE (Black, 64 GB)",https://www.flipkart.com/apple-iphone-se-black...,Apple,29999,39900,95909,8161,MOBFWQ6BR3MK7AUG,4.5,4 GB
58,"APPLE iPhone 11 (Purple, 64 GB)",https://www.flipkart.com/apple-iphone-11-purpl...,Apple,46999,54900,43470,3331,MOBFWQ6BTFFJKGKE,4.6,4 GB
59,"APPLE iPhone 11 (White, 64 GB)",https://www.flipkart.com/apple-iphone-11-white...,Apple,46999,54900,43470,3331,MOBFWQ6BVWVEH3XE,4.6,4 GB
60,"APPLE iPhone 11 (Black, 64 GB)",https://www.flipkart.com/apple-iphone-11-black...,Apple,46999,54900,43470,3331,MOBFWQ6BXGJCEYNY,4.6,4 GB
61,"APPLE iPhone 11 (Red, 64 GB)",https://www.flipkart.com/apple-iphone-11-red-6...,Apple,46999,54900,43470,3331,MOBFWQ6BYYV3FCU7,4.6,4 GB